<header>
  <h1>
    Welcome <%= username ? `${username}` : ''%>!
  </h1>

  <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="Enter a username" style="width: 300px">
    <button type="submit">Login</button>
  </form>

</header>


