<header>
  <h1>This is a Header</h1>
  <form method="POST" action="/login">
    <input id="username" type="text" name="username" placeholder="Enter a username" style="width: 300px">
    <button type="submit">Login</button>
  </form>
</header>


