<header>

 <% if (user){ %>
    <h1>
      Welcome to Shorten URL <%=`${user.email}`%>!
    </h1>

    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>

 <% }else{ %>
    <h1>
      Welcome to Shorten URL!
    </h1>

      <a href="/register">Register</a>
      <a href="/login">Login</a>

 <% } %>

</header>


