<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>


<body>

  <h1>Register:</h1>

  <form method="POST" action="/register">
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="Your email" style="width: 300px">
    </div>

    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" placeholder="Your password" style="width: 300px">
    </div>

    <div>
      <button type="submit">Register</button>
    </div>

    <div>
      Already have an account? You can <a href="/urls">back to home Page</a> to Login!
    </div>
  </form>

</body>

</html>