<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>


<body>

  <% include ./partials/_header %>


  <p><%= shortURL %></p>
  <p><%= longURL %></p>

  <form method="POST" action="/urls/<%= shortURL %>/update">
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <button type="submit">Edit The LongURL</button>
  </form>

</body>


</html>